@import '@/styles/palette.scss';

.card {
  cursor: pointer;

  &__img {
    width: 100%;
    margin-bottom: 16px;
  }

  &__title {
    font-family: 'Delicious Handrawn', cursive;
    font-size: 30px;
    color: $blue;
    text-shadow: 2px 2px 2px $green;
    margin: 0;
  }
}
