@import '@/styles/palette.scss';

.header {
  flex: 0 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 250px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  padding: 20px 56px;

  &__logo {
    text-decoration: none;
  }

  &__title {
    font-family: 'Delicious Handrawn', cursive;
    color: $blue;
    text-decoration: none;
    text-shadow: 2px 2px 2px $green;
    margin: 0;
  }

  &__nav {
    display: flex;
    justify-content: start;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    color: $primary-dark;

    &.active {
      color: $blue;
      border-bottom: 1px solid $green;
    }

    &:hover {
      color: $blue;
    }
  }
}
