@import '../../styles/palette.scss';

.header {
  flex: 0 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 250px;
  padding: 16px;

  &__nav {
    display: flex;
    justify-content: start;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    color: $primary-dark;

    &.active {
      color: $pink;
      border-bottom: 1px solid $pink;
    }

    &:hover {
      color: $pink;
    }
  }
}
