@import '../../styles/palette.scss';

.notfound {
  height: 100%;
  text-align: center;
  padding-top: 100px;

  &__title {
    font-size: 10rem;
    color: $pink;
    margin: 0;
  }

  &__subtitle {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 15px;
  }

  &__text {
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: $pink;

    &:hover {
      text-shadow: $pink 1px 0 2px;
    }

    &:active {
      text-shadow: none;
      border-bottom: 1px solid $pink;
    }
  }
}
